<div class="notiz" style="min-height: 105px">
  <div class="line1"></div>
  <div *ngIf="showPanoramaBool">
    <div *ngFor="let notizElement of notizElements" >
      <div *ngIf="notizElement.departmentNotizInput === 'Panorama'">
        <div style="border: solid 3px greenyellow; padding: 10px; margin: 10px;">
          <p> {{notizElement.notizInput === '' ? "Keine Notiz" : notizElement.notizInput}}</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showRestaurantBool">
    <div *ngFor="let notizElement of notizElements">
      <div *ngIf="notizElement.departmentNotizInput === 'Restaurant'">
        <div style="border: solid 3px greenyellow; padding: 10px; margin: 10px;">
          <p> {{notizElement.notizInput === '' ? "Keine Notiz" : notizElement.notizInput}}</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showSonnbergZirbnBool">
    <div *ngFor="let notizElement of notizElements">
      <div *ngIf="notizElement.departmentNotizInput === 'Sonnberg-Zirbn'">
        <div style="border: solid 3px greenyellow; padding: 10px; margin: 10px;">
          <p> {{notizElement.notizInput === '' ? "Keine Notiz" : notizElement.notizInput}}</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showWintergartenBool">
    <div *ngFor="let notizElement of notizElements">
      <div *ngIf="notizElement.departmentNotizInput === 'Wintergarten'">
        <div style="border: solid 3px greenyellow; padding: 10px; margin: 10px;">
          <p> {{notizElement.notizInput === '' ? "Keine Notiz" : notizElement.notizInput}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
