<div *ngIf="showWintergartenBool">
  <div *ngFor="let tableWintergarten of tablesWintergarten; let j = index;">
    <div *ngIf="tablesWintergarten[j] !== tablesWintergarten[j+1]">
      <button style="float: right; margin: 20px 0px 20px 0px; background-color: #0a7a74; color: #FFFFFF"  type="button" class="btn btn-send" (click)="occupy(tableWintergarten, j)">{{tableWintergarten.isBesetzt === 'true' ? 'FREI MACHEN' : ''}}</button>
      <h4><b> Tisch:</b>{{tableWintergarten.number}} </h4><br>
      <div class='cards-container' id='containerWintergarten' [ngStyle]="{'background-color': + tableWintergarten.bgColor}">
        <div class="table" [ngStyle]="{'background-color': '#' + tableWintergarten.bgColor}">
          <div *ngIf="tableWintergarten.isBesetzt === 'true'">
            <div *ngFor="let group of tableWintergarten.groups; let j = index;">
              <div [style.border]="getStyle(group.traceValue)">
                <div *ngIf="group.nameValue">
                  <p style="background-color: #FFFFFF; padding: 10px">
                    <b> Name:</b> {{group.nameValue}}<br>
                    <b> Zimmernummer:</b> {{group.zimmernummerValue}}<br>
                    <b> Anreise Datum:</b> {{group.anreiseValue}}<br>
                    <b> Abreise Datum:</b> {{group.abreiseValue}}<br>
                    <b> Personenanzahl:</b> {{group.personenAnzahlValue}}<br>
                    <b> Nation:</b> {{group.nationValue}}<br>
                    <b> Sprache:</b> {{group.spracheValue}}<br>
                    <b> Preis Typ:</b> {{group.preisTypValue}}<br>
                    <b> Reisebüro:</b> {{group.notiz1Value}}<br>
                    <b> Kategorie:</b> {{group.kategorieValue}}<br>
                    <b> Notiz1:</b> {{group.notiz1Value}}<br>
                    <b> Notiz2:</b> {{group.notiz2Value}}<br>
                    <b> Trace:</b> {{group.traceValue}}<br>
                  </p>
                </div>
              </div>
              <div *ngIf="group.newTraceName">
                <p style="background-color: #FFFFFF; border: solid 3px red">
                  <b> Zimmernummer: </b>{{group.newTraceRoomNumber}}<br> <b> Neuer Trace: </b>{{group.newTraceText}} <br> <b> Tischnummer: </b>{{group.newTraceTableNumber}} <br> <b> Mitarbeiter: </b>{{group.newTraceEmployee}} <br> <b> Name: </b>{{group.newTraceName}} <br> <b> Datum: </b>{{group.newTraceDate}}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="tableWintergarten.placeholder === 'true'">
          <p [dragula]='"evented-bag"' id="Wintergarten" style="background-color: #9d9d9d; border: dashed 3px black; margin-top: 50px; opacity: 0.4; padding: 10px 10px 10px 10px">Listen-Element hier hin ziehen! {{tableWintergarten.number}} {{tableWintergarten.department}} {{j}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
