<div class="row1">
  <div class='wrapper'>
    <div *ngFor="let anreiseListeElement of anreiseListeElemente">
      <div class='cards-container' id='container2' [dragula]='"evented-bag"'>
        <div class="card" id="card2" [ngStyle]="{'background-color': '#' + anreiseListeElement.bgColor}">
          <p> <b>Name:</b> {{anreiseListeElement.name}}<br>
            <b>Zimmernummer:</b> {{anreiseListeElement.zimmernummer}}<br>
            <b>Anreise:</b> {{anreiseListeElement.anreise}}<br>
            <b>Abreise:</b> {{anreiseListeElement.abreise}}<br>
            <b>Personen Anzahl:</b> {{anreiseListeElement.personenAnzahl}}<br>
            <b>Notiz2:</b> {{anreiseListeElement.notiz2}}<br>
          </p>
          <div *ngIf="anreiseListeElement.bgColor === '0a7a74'">
            <i class="fa fa-check" style="float: right; color: white"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
