<app-sonnberg-zirbn [term]="term" [tablesSonnbergZirbn]="tablesSonnbergZirbn" [showSonnbergZirbnBool]="showSonnbergZirbnBool" (occupied)="occupied($event)"></app-sonnberg-zirbn>
<app-restaurant [term]="term" [tablesRestaurant]="tablesRestaurant" [showRestaurantBool]="showRestaurantBool"  (occupied)="occupied($event)"></app-restaurant>
<app-panorama [term]="term" [tablesPanorama]="tablesPanorama" [showPanoramaBool]="showPanoramaBool"  (occupied)="occupied($event)"></app-panorama>
<app-wintergarten [term]="term" [tablesWintergarten]="tablesWintergarten" [showWintergartenBool]="showWintergartenBool"  (occupied)="occupied($event)"></app-wintergarten>
<app-alle [term]="term" [tables]="tables" [tablesTempAbreise]="tablesTempAbreise" [showAlleBool]="showAlleBool" (occupied)="occupied($event)"></app-alle>
