<app-sonnberg-zirbn [tablesSonnbergZirbn]="tablesSonnbergZirbn" [showSonnbergZirbnBool]="showSonnbergZirbnBool" (occupied)="occupied($event)"></app-sonnberg-zirbn>
<app-restaurant [tablesRestaurant]="tablesRestaurant" [showRestaurantBool]="showRestaurantBool"  (occupied)="occupied($event)"></app-restaurant>
<app-panorama [tablesPanorama]="tablesPanorama" [showPanoramaBool]="showPanoramaBool"  (occupied)="occupied($event)"></app-panorama>
<app-wintergarten [tablesWintergarten]="tablesWintergarten" [showWintergartenBool]="showWintergartenBool"  (occupied)="occupied($event)"></app-wintergarten>
