<div class="row4">
  <div class="col-md-3 col-xs-3">
  <div class="btn-group-departments" dropdown>
  <button dropdownToggle type="button" class="abteilungsButton" [ngStyle]="{'background-color': '#' + buttonBgColorDropdownToggle}"   (mouseenter)="mouseEnterDropdownToggle()"  (mouseleave)="mouseLeaveDropdownToggle()">
    <div *ngIf="showDepartments">
     Abteilungen <i class="fa fa-th-large" aria-hidden="true"></i><span class="caret"></span>
    </div>
    <div *ngIf="showAllBool">
      Alle <i class="fa fa-th-large" aria-hidden="true"></i><span class="caret"></span>
    </div>
    <div *ngIf="showSonnbergZirbnBool">
      Sonnberg-<br>Zirbn <i class="fa fa-th-large" aria-hidden="true"></i><span class="caret"></span>
    </div>
    <div *ngIf="showWintergartenBool">
       Wintergarten <br><i class="fa fa-th-large" aria-hidden="true"></i><span class="caret"></span>
    </div>
    <div *ngIf="showRestaurantBool">
      Restaurant <i class="fa fa-th-large" aria-hidden="true"></i><span class="caret"></span>
    </div>
    <div *ngIf="showPanoramaBool">
       Panorama <i class="fa fa-th-large" aria-hidden="true"></i><span class="caret"></span>
    </div>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem" class="showSonnbergZirbn"  (click)="showSonnbergZirbn()" (mouseenter)="mouseEnterSonnbergZirbn()"  (mouseleave)="mouseLeaveSonnbergZirbn()" [ngStyle]="{'background-color': '#' + buttonBgColor1}">
        <p [ngStyle]="{'color': '#' + fontColor1}">Sonnberg-Zirbn</p>
      </li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem" class="showPanorama"  (click)="showPanorama()" (mouseenter)="mouseEnterPanorama()"  (mouseleave)="mouseLeavePanorama()" [ngStyle]="{'background-color': '#' + buttonBgColor2}">
        <p [ngStyle]="{'color': '#' + fontColor2}">Panorama</p>
      </li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem" class="showRestaurant" (click)="showRestaurant()" (mouseenter)="mouseEnterRestaurant()"  (mouseleave)="mouseLeaveRestaurant()" [ngStyle]="{'background-color': '#' + buttonBgColor3}">
        <p [ngStyle]="{'color': '#' + fontColor3}">Restaurant</p>
      </li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem" class="showWintergarten" (click)="showWintergarten()" (mouseenter)="mouseEnterWintergarten()"  (mouseleave)="mouseLeaveWintergarten()" [ngStyle]="{'background-color': '#' + buttonBgColor4}">
        <p [ngStyle]="{'color': '#' + fontColor4}">Wintergarten</p>
      </li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem" class="showAll" (click)="showAll()" (mouseenter)="mouseEnterAll()"  (mouseleave)="mouseLeaveAll()" [ngStyle]="{'background-color': '#' + buttonBgColor5}">
        <p [ngStyle]="{'color': '#' + fontColor5}">Alle</p>
      </li>
    <li class="divider dropdown-divider"></li>
  </ul>
</div>
</div>
  <div class="col-md-3 col-xs-3" (click)="showInfoForm()"  (mouseenter)="mouseEnterShowInfoForm()"  (mouseleave)="mouseLeaveShowInfoForm()" [ngStyle]="{'background-color': '#' + buttonBgColorInfoForm}">
    <p [ngStyle]="{'color': '#' + fontColorInfoForm}">Trace</p>
  </div>
  <div class="col-md-3 col-xs-3"  (click)="showNoteForm()"  (mouseenter)="mouseEnterShowNoteForm()"  (mouseleave)="mouseLeaveShowNoteForm()" [ngStyle]="{'background-color': '#' + buttonBgColorNoteForm}">
    <p [ngStyle]="{'color': '#' + fontColorNoteForm}">Notiz</p>
  </div>
  <div class="col-md-3 col-xs-3" style="padding-left: 5px" (click)="showTablePlan()"  (mouseenter)="mouseEnterShowTablePlan()"  (mouseleave)="mouseLeaveShowTablePlan()" [ngStyle]="{'background-color': '#' + buttonBgColorShowTablePlan}">
    <p  [ngStyle]="{'color': '#' + fontColorShowTablePlan}">Tischplan</p>
  </div>
</div>



