<div class="row1">
  <div class='wrapper'>
    <div *ngFor="let tracesListeElement of tracesListeElemente; let t = index;">
      <div class='cards-container' id='container3' [dragula]='"evented-bag"' >
        <div class="card" id="card3" [ngStyle]="{'background-color': '#' + tracesListeElement.bgColor}">
          <p><b>Zimmernummer:</b> {{tracesListeElement.zimmernummer}}<br>
            <b>Name:</b> {{tracesListeElement.name}}<br>
            <b>Personen:</b> {{tracesListeElement.personenAnzahl}}<br>
            <b>Anreise:</b> {{tracesListeElement.anreise}}<br>
            <b>Abreise:</b> {{tracesListeElement.abreise}}<br>
            <b>Trace:</b> {{tracesListeElement.trace}}<br>
          </p>
          <div *ngIf="tracesListeElement.bgColor === '0a7a74'">
            <i class="fa fa-check" style="float: right; color: white"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
