html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #0a7a74;
}

.row {
    height: 100%;
    background-color: #0a7a74;
    margin: 0;
}

.row .container-fluid {
    background-color: #0a7a74;
    height: 100vh;
}

.row .container-fluid .col-md-4 {
    background-color: #0a7a74;
    height: 100%;
}




