
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #0a7a74;
}

.row {
  height: 100%;
}

.row .container-fluid {
  height: 100%;
}

.row .container-fluid .col-md-4 {
  background-color: #f3efe4;
  padding: 20px 10px 20px 10px;
  border-left: 10px solid #0a7a74;
  border-right: 10px solid #0a7a74;
  height: 100%;
  border-bottom: 20px solid #0a7a74;
  max-width: 20%;
}

.row .container-fluid .col-md-4 .row1 {
  overflow: auto;
  margin: 0 0 0 0;
  display: inline-block;
  width: 100%;
  height: 25%;
  padding-top: 20px;
}

.row .container-fluid .col-md-4 .row1 .wrapper {
  overflow: auto;
  margin: 0 0 0 0;
  display: inline-block;
  max-width: 100%;
}

.row .container-fluid .col-md-4 .row1 .wrapper .container {
  overflow: auto;
  margin: 0 0 0 0;
  display: inline-block;
  max-width: 100%;
}

.row .container-fluid .col-md-4 .row3 {
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  height: 100%;

  padding-top: 20px;
}


.row .container-fluid .col-md-4 .col-xs-12 .row1 {
  overflow: auto;
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  height: 100%;

  padding-top: 20px;
}


.row .container-fluid .col-md-4 h3 {
  align-content: center;
  margin: 0 auto;
  display: inline-block;
  color: #0a7a74;
  position: relative;
  text-align:center;
}

.row .container-fluid .col-md-4 .row3 .col-xs-12 .form-group {
  border-top:3px solid #0a7a74;
  width: 105%;
  padding: 10px 10px 10px 30px;
}

.row .container-fluid .col-md-4 .row3 .col-xs-12  .group {
  border-top:3px solid #0a7a74;
  width: 105%;
  padding: 10px 10px 10px 30px;
}

.row .container-fluid .col-md-4 .row3 .col-xs-12 .form-group1 {
  margin-top: 20px;
  overflow: auto;
  max-height: 300px;
  display: inline-block;
  border-top:3px solid #0a7a74;
  width: 102%;
  padding: 10px 10px 10px 25px;
}

.row1 .col {
  flex: 1;
}

.row1 .col:nth-child(1) {
  order: 1;
}
.row1 .col:nth-child(2) {
  order: 0;
}
.row1 .col:nth-child(3) {
  order: 2;
}

.row .col-md-4 .row2 {
  padding-bottom: 10px;
  position: relative;
  min-height: 100%;
  border-bottom: 1px solid red;
}

.card {
  background: rgb(255,255,255); /* Fall-back for browsers that don support rgba */
  background: rgba(255,255,255, 1);
}

.row .container-fluid .col-md-4 .row1 .wrapper .container .card p {
  padding:10px 10px 10px 10px;
  max-width: 100%;
}

.row .container-fluid .col-md-4 .wrapper .container .card p {
  padding:10px 10px 10px 10px;
  max-width: 100%;
}

.row .container-fluid .col-md-4 .row3 .row1 p {
  padding: 10px 10px 10px 10px;
  background: rgb(255,255,255); /* Fall-back for browsers that don support rgba */
  background: rgba(255,255,255, 1);
  max-width: 100%;
}

.row .container-fluid .col-md-4 .col-xs-12 .row1 .wrapper .container .card p {
  padding: 10px 10px 10px 10px;
  max-width: 100%;
}

.row .container-fluid .col-md-6 {
  height: 620px;
  width: 58%;
  background-color: #eaf3f3;
}

.row .container-fluid .col-md-6 .print-section1 .row {
  background-color: #eaf3f3;
  height: 620px;
  position: relative;
}

.row .container-fluid .col-md-6 .row1 .col-md-3 {
  margin: 0px 0px 0px 0px;
  padding: 20px 20px 20px 20px;
}

.row .container-fluid .col-md-6 .row .t1 {
  width: 30px;
  height: 60px;
  border: solid 1px #eaf3f3;
  position: absolute;
}

.row .container-fluid .col-md-6 .row .t2 {
  width: 30px;
  height: 60px;
  border: solid 1px #eaf3f3;
  position: absolute;
}

.row .container-fluid .col-md-6 .row .t3 {
  width: 30px;
  height: 60px;
  border: solid 1px #eaf3f3;
  position: absolute;
}

.row .container-fluid .col-md-6 .row .t4 {
  width: 30px;
  height: 60px;
  border: solid 1px #eaf3f3;
  position: absolute;
}

.row .container-fluid .col-md-6 .row .t5 {
  width: 30px;
  height: 80px;
  border: solid 1px #eaf3f3;
  position: absolute;
}

.row .container-fluid .col-md-6 .row .t6 {
  width: 30px;
  height: 80px;
  border: solid 1px #eaf3f3;
  position: absolute;
}

.row .container-fluid .col-md-6 .row .t7 {
  width: 30px;
  height: 80px;
  border: solid 1px #eaf3f3;
  position: absolute;
}

.row .container-fluid .col-md-6 .row .t8 {
  width: 100px;
  height: 90px;
  border: solid 1px #eaf3f3;
  position: absolute;
}

.row .container-fluid .col-md-6 .row .t9 {
  width: 40px;
  height: 60px;
  border: solid 1px #eaf3f3;
  position: absolute;
}

.row .container-fluid .col-md-6 .row .t10 {
  width: 40px;
  height: 60px;
  border: solid 1px #eaf3f3;
  position: absolute;
}

.row .container-fluid .col-md-6 .row .t11 {
  width: 30px;
  height: 80px;
  border: solid 1px #eaf3f3;
  position: absolute;
}

.row .container-fluid .col-md-6 .row .t12 {
  width: 60px;
  height: 30px;
  border: solid 1px #eaf3f3;
  position: absolute;
}

.row .container-fluid .col-md-6 .row .t13 {
  width: 60px;
  height: 30px;
  border: solid 1px #eaf3f3;
  position: absolute;
}

.row .container-fluid .col-md-6 .row .t14 {
  width: 60px;
  height: 30px;
  border: solid 1px #eaf3f3;
  position: absolute;
}

.row .container-fluid .col-md-6 .row .t15 {
  width: 60px;
  height: 30px;
  border: solid 1px #eaf3f3;
  position: absolute;
}

.row .container-fluid .col-md-6 .row .t16 {
  width: 30px;
  height: 60px;
  border: solid 1px #eaf3f3;
  position: absolute;
}
