<div *ngIf="showTablePlanBool">
  <div class="col-xs-12 printTwo">
    <div class="row" style=" border-left: 5px solid #0a7a74; border-right: 5px solid #0a7a74;">
      <div *ngIf="showSonnbergZirbnBool">
        <div *ngFor="let tableSonnbergZirbn of tablesSonnbergZirbn; let j = index;">
          <div dropdownToggle type="button" class="t{{tableSonnbergZirbn.number}} table-item" [ngStyle]="{'top': tableSonnbergZirbn.topValue + 'px', 'left': tableSonnbergZirbn.leftValue + 'px', 'background-color': + tableSonnbergZirbn.bgColor, 'height': + tableSonnbergZirbn.height + 'px', 'width': + tableSonnbergZirbn.width + 'px', 'border': + tableSonnbergZirbn.border}" [style.border]="getStyle(tablesSonnbergZirbn[j].groups)" dropdown>
            <div *ngIf="tablesSonnbergZirbn[j] !== tablesSonnbergZirbn[j+1]">
              <p><b>{{tableSonnbergZirbn.number}} <br>{{adultSonnbergZirbn[j]}}/{{childSonnbergZirbn[j]}}</b></p>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div dropdownToggle type="button" style="color: white; padding: 10px;" (mouseenter)="mouseEnterMoveTableButton()"  (mouseleave)="mouseLeaveMoveTableButton()" [ngStyle]="{'background-color': '#' + buttonMoveTable}" (click)="none($event)" class="dropdownMoveTable" dropdown><b>Tisch verschieben</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; margin: 0px;  padding: 0px; overflow: auto">
                  <li class="dropdown-item" (click)="addTable(tableSonnbergZirbn, j)" style="color: black; padding: 10px;" (mouseenter)="mouseEnterHinzufuegenButton()"  (mouseleave)="mouseLeaveHinzufuegenButton()" [ngStyle]="{'background-color': '#' + buttonHinzufuegen}" ><b>Tisch hinzufügen</b></li>
                  <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0; "></li>
                  <li class="dropdown-item" (click)="removeTable(tableSonnbergZirbn, j)" (mouseenter)="mouseEnterEntfernenButton()"  (mouseleave)="mouseLeaveEntfernenButton()" [ngStyle]="{'background-color': '#' + buttonEntfernen}" style="color: black; padding: 10px"><b>Tisch entfernen</b></li>
                </div>
              </div>
              <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0;"></li>
              <div dropdownToggle type="button" (click)="none($event)" style="padding: 10px; " (mouseenter)="mouseEnterInfoButton()"  (mouseleave)="mouseLeaveInfoButton()" [ngStyle]="{'background-color': '#' + buttonInfo}" class="dropdownShowinfo"  dropdown><b>Infos anzeigen</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; padding: 10px; overflow: auto">
                  <div *ngFor="let group of tableSonnbergZirbn.groups">
                    <div *ngIf="group.nameValue">
                      <div class="dropdown-item" [style.border]="getStyleTrace(group.traceValue)"><b>Name:</b> {{group.nameValue}}<br><b>Nation:</b> {{group.nationValue}}<br><b>Sprache:</b> {{group.languageValue}}<br><b>Zimmer Nummer: </b>{{group.roomNumberValue}}<br><b>Preistyp: </b>{{group.typeOfPriceValue}}<br><b>Anreise: </b>{{group.arrivalValue}}<br><b>Abreise:</b> {{group.departureValue}}<br><b>Personen Anzahl:</b>{{group.numberOfPersonsValue}}<br><b>Kategorie: </b>{{group.categoryValue}}<br><b>Reisebüro: </b>{{group.sourceValue}}<br><b>Notiz1:</b> {{group.note1Value}}<br><b>Notiz2:</b> {{group.note2Value}}<br><b>Bemerkung:</b> {{group.bemerkungValue}}<br><b>Trace:</b> {{group.traceValue}}</div>
                      <li class="divider dropdown-divider" style="padding: 0 0 0 0"></li>
                    </div>
                    <div *ngIf="group.newTraceText">
                      <div class="dropdown-item"  style="background-color: #FFFFFF; border: solid 3px red">
                        <b> Zimmernummer: </b>{{group.newTraceRoomNumber}}<br> <b> Neuer Trace: </b>{{group.newTraceText}} <br> <b> Tischnummer: </b>{{group.newTraceTableNumber}} <br> <b> Mitarbeiter: </b>{{group.newTraceEmployee}} <br> <b> Name: </b>{{group.newTraceName}} <br> <b> Datum: </b>{{group.newTraceDate}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showPanoramaBool">
        <div *ngFor="let tablePanorama of tablesPanorama; let j = index;">
          <div dropdownToggle type="button" class="t{{tablePanorama.number}} table-item" [ngStyle]="{'top': tablePanorama.topValue + 'px', 'left': tablePanorama.leftValue + 'px', 'background-color': + tablePanorama.bgColor, 'height': + tablePanorama.height + 'px', 'width': + tablePanorama.width + 'px', 'border': + tablePanorama.border}" [style.border]="getStyle(tablesPanorama[j].groups)" dropdown>
            <div *ngIf="tablesPanorama[j] !== tablesPanorama[j+1]">
              <p><b>{{tablePanorama.number}} <br>{{adultPanorama[j]}}/{{childPanorama[j]}}</b></p>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div dropdownToggle type="button" style="color: white; padding: 10px;" (mouseenter)="mouseEnterMoveTableButton()"  (mouseleave)="mouseLeaveMoveTableButton()" [ngStyle]="{'background-color': '#' + buttonMoveTable}" (click)="none($event)" class="dropdownMoveTable" dropdown><b>Tisch verschieben</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; margin: 0px;  padding: 0px; overflow: auto">
                  <li class="dropdown-item" (click)="addTable(tablePanorama, j)" style="color: black; padding: 10px;" (mouseenter)="mouseEnterHinzufuegenButton()"  (mouseleave)="mouseLeaveHinzufuegenButton()" [ngStyle]="{'background-color': '#' + buttonHinzufuegen}" ><b>Tisch hinzufügen</b></li>
                  <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0; "></li>
                  <li class="dropdown-item" (click)="removeTable(tablePanorama, j)" (mouseenter)="mouseEnterEntfernenButton()"  (mouseleave)="mouseLeaveEntfernenButton()" [ngStyle]="{'background-color': '#' + buttonEntfernen}" style="color: black; padding: 10px"><b>Tisch entfernen</b></li>
                </div>
              </div>
              <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0;"></li>
              <div dropdownToggle type="button" (click)="none($event)" style="padding: 10px; " (mouseenter)="mouseEnterInfoButton()"  (mouseleave)="mouseLeaveInfoButton()" [ngStyle]="{'background-color': '#' + buttonInfo}" class="dropdownShowinfo"  class="dropdownShowinfo" dropdown><b>Infos anzeigen</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; padding: 10px; overflow: auto">
                  <div *ngFor="let group of tablePanorama.groups">
                    <div *ngIf="group.nameValue">
                      <div class="dropdown-item" [style.border]="getStyleTrace(group.traceValue)"><b>Name:</b> {{group.nameValue}}<br><b>Nation:</b> {{group.nationValue}}<br><b>Sprache:</b> {{group.languageValue}}<br><b>Zimmer Nummer: </b>{{group.roomNumberValue}}<br><b>Preistyp: </b>{{group.typeOfPriceValue}}<br><b>Anreise: </b>{{group.arrivalValue}}<br><b>Abreise:</b> {{group.departureValue}}<br><b>Personen Anzahl:</b>{{group.numberOfPersonsValue}}<br><b>Kategorie: </b>{{group.categoryValue}}<br><b>Reisebüro: </b>{{group.sourceValue}}<br><b>Notiz1:</b> {{group.note1Value}}<br><b>Notiz2:</b> {{group.note2Value}}<br><b>Bemerkung:</b> {{group.bemerkungValue}}<br><b>Trace:</b> {{group.traceValue}}</div>
                      <li class="divider dropdown-divider" style="padding: 0 0 0 0"></li>
                    </div>
                    <div *ngIf="group.newTraceText">
                      <div class="dropdown-item"  style="background-color: #FFFFFF; border: solid 3px red">
                        <b> Zimmernummer: </b>{{group.newTraceRoomNumber}}<br> <b> Neuer Trace: </b>{{group.newTraceText}} <br> <b> Tischnummer: </b>{{group.newTraceTableNumber}} <br> <b> Mitarbeiter: </b>{{group.newTraceEmployee}} <br> <b> Name: </b>{{group.newTraceName}} <br> <b> Datum: </b>{{group.newTraceDate}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showRestaurantBool">
        <div *ngFor="let tableRestaurant of tablesRestaurant; let j = index;">
          <div dropdownToggle type="button" class="t{{tableRestaurant.number}} table-item" [ngStyle]="{'top': tableRestaurant.topValue + 'px', 'left': tableRestaurant.leftValue + 'px', 'background-color': + tableRestaurant.bgColor, 'height': + tableRestaurant.height + 'px', 'width': + tableRestaurant.width + 'px', 'border': + tableRestaurant.border}" [style.border]="getStyle(tablesRestaurant[j].groups)" dropdown>
            <div *ngIf="tablesRestaurant[j] !== tablesRestaurant[j+1]">
              <p><b>{{tableRestaurant.number}} <br>{{adultRestaurant[j]}}/{{childRestaurant[j]}}</b></p>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div dropdownToggle type="button" style="color: white; padding: 10px;" (mouseenter)="mouseEnterMoveTableButton()"  (mouseleave)="mouseLeaveMoveTableButton()" [ngStyle]="{'background-color': '#' + buttonMoveTable}" (click)="none($event)" class="dropdownMoveTable" dropdown><b>Tisch verschieben</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; margin: 0px;  padding: 0px; overflow: auto">
                  <li class="dropdown-item" (click)="addTable(tableRestaurant, j)" style="color: black; padding: 10px;" (mouseenter)="mouseEnterHinzufuegenButton()"  (mouseleave)="mouseLeaveHinzufuegenButton()" [ngStyle]="{'background-color': '#' + buttonHinzufuegen}" ><b>Tisch hinzufügen</b></li>
                  <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0; "></li>
                  <li class="dropdown-item" (click)="removeTable(tableRestaurant, j)" (mouseenter)="mouseEnterEntfernenButton()"  (mouseleave)="mouseLeaveEntfernenButton()" [ngStyle]="{'background-color': '#' + buttonEntfernen}" style="color: black; padding: 10px"><b>Tisch entfernen</b></li>
                </div>
              </div>
              <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0;"></li>
              <div dropdownToggle type="button" (click)="none($event)" style="padding: 10px; " (mouseenter)="mouseEnterInfoButton()"  (mouseleave)="mouseLeaveInfoButton()" [ngStyle]="{'background-color': '#' + buttonInfo}" class="dropdownShowinfo"  class="dropdownShowinfo" dropdown><b>Infos anzeigen</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; padding: 10px; overflow: auto">
                  <div *ngFor="let group of tableRestaurant.groups">
                    <div *ngIf="group.nameValue">
                      <div class="dropdown-item" [style.border]="getStyleTrace(group.traceValue)"><b>Name:</b> {{group.nameValue}}<br><b>Nation:</b> {{group.nationValue}}<br><b>Sprache:</b> {{group.languageValue}}<br><b>Zimmer Nummer: </b>{{group.roomNumberValue}}<br><b>Preistyp: </b>{{group.typeOfPriceValue}}<br><b>Anreise: </b>{{group.arrivalValue}}<br><b>Abreise:</b> {{group.departureValue}}<br><b>Personen Anzahl:</b>{{group.numberOfPersonsValue}}<br><b>Kategorie: </b>{{group.categoryValue}}<br><b>Reisebüro: </b>{{group.sourceValue}}<br><b>Notiz1:</b> {{group.note1Value}}<br><b>Notiz2:</b> {{group.note2Value}}<br><b>Bemerkung:</b> {{group.bemerkungValue}}<br><b>Trace:</b> {{group.traceValue}}</div>
                      <li class="divider dropdown-divider" style="padding: 0 0 0 0"></li>
                    </div>
                    <div *ngIf="group.newTraceText">
                      <div class="dropdown-item"  style="background-color: #FFFFFF; border: solid 3px red">
                        <b> Zimmernummer: </b>{{group.newTraceRoomNumber}}<br> <b> Neuer Trace: </b>{{group.newTraceText}} <br> <b> Tischnummer: </b>{{group.newTraceTableNumber}} <br> <b> Mitarbeiter: </b>{{group.newTraceEmployee}} <br> <b> Name: </b>{{group.newTraceName}} <br> <b> Datum: </b>{{group.newTraceDate}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showWintergartenBool">
        <div *ngFor="let tableWintergarten of tablesWintergarten; let j = index;">
          <div dropdownToggle type="button" class="t{{tableWintergarten.number}} table-item" [ngStyle]="{'top': tableWintergarten.topValue + 'px', 'left': tableWintergarten.leftValue + 'px', 'background-color': + tableWintergarten.bgColor, 'height': + tableWintergarten.height + 'px', 'width': + tableWintergarten.width + 'px', 'border': + tableWintergarten.border, 'border-radius': + tableWintergarten.borderRadius, 'transform':  + tableWintergarten.transformValue}" [style.border]="getStyle(tablesWintergarten[j].groups)" dropdown>
            <div *ngIf="tablesWintergarten[j] !== tablesWintergarten[j+1]">
              <p><b>{{tableWintergarten.number}} <br>{{adultWintergarten[j]}}/{{childWintergarten[j]}}</b></p>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div dropdownToggle type="button" style="color: white; padding: 10px;" (mouseenter)="mouseEnterMoveTableButton()"  (mouseleave)="mouseLeaveMoveTableButton()" [ngStyle]="{'background-color': '#' + buttonMoveTable}" (click)="none($event)" class="dropdownMoveTable" dropdown><b>Tisch verschieben</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; margin: 0px;  padding: 0px; overflow: auto">
                  <li class="dropdown-item" (click)="addTable(tableWintergarten, j)" style="color: black; padding: 10px;" (mouseenter)="mouseEnterHinzufuegenButton()"  (mouseleave)="mouseLeaveHinzufuegenButton()" [ngStyle]="{'background-color': '#' + buttonHinzufuegen}" ><b>Tisch hinzufügen</b></li>
                  <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0; "></li>
                  <li class="dropdown-item" (click)="removeTable(tableWintergarten, j)" (mouseenter)="mouseEnterEntfernenButton()"  (mouseleave)="mouseLeaveEntfernenButton()" [ngStyle]="{'background-color': '#' + buttonEntfernen}" style="color: black; padding: 10px"><b>Tisch entfernen</b></li>
                </div>
              </div>
              <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0;"></li>
              <div dropdownToggle type="button" (click)="none($event)" style="padding: 10px; " (mouseenter)="mouseEnterInfoButton()"  (mouseleave)="mouseLeaveInfoButton()" [ngStyle]="{'background-color': '#' + buttonInfo}" class="dropdownShowinfo"  class="dropdownShowinfo" dropdown><b>Infos anzeigen</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; padding: 10px; overflow: auto">
                  <div *ngFor="let group of tableWintergarten.groups">
                    <div *ngIf="group.nameValue">
                      <div class="dropdown-item" [style.border]="getStyleTrace(group.traceValue)"><b>Name:</b> {{group.nameValue}}<br><b>Nation:</b> {{group.nationValue}}<br><b>Sprache:</b> {{group.languageValue}}<br><b>Zimmer Nummer: </b>{{group.roomNumberValue}}<br><b>Preistyp: </b>{{group.typeOfPriceValue}}<br><b>Anreise: </b>{{group.arrivalValue}}<br><b>Abreise:</b> {{group.departureValue}}<br><b>Personen Anzahl:</b>{{group.numberOfPersonsValue}}<br><b>Kategorie: </b>{{group.categoryValue}}<br><b>Reisebüro: </b>{{group.sourceValue}}<br><b>Notiz1:</b> {{group.note1Value}}<br><b>Notiz2:</b> {{group.note2Value}}<br><b>Bemerkung:</b> {{group.bemerkungValue}}<br><b>Trace:</b> {{group.traceValue}}</div>
                      <li class="divider dropdown-divider" style="padding: 0 0 0 0"></li>
                    </div>
                    <div *ngIf="group.newTraceText">
                      <div class="dropdown-item"  style="background-color: #FFFFFF; border: solid 3px red">
                        <b> Zimmernummer: </b>{{group.newTraceRoomNumber}}<br> <b> Neuer Trace: </b>{{group.newTraceText}} <br> <b> Tischnummer: </b>{{group.newTraceTableNumber}} <br> <b> Mitarbeiter: </b>{{group.newTraceEmployee}} <br> <b> Name: </b>{{group.newTraceName}} <br> <b> Datum: </b>{{group.newTraceDate}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showAllBool">
        <br>
        <br>
        <br>
        <h1 style="color: white; margin-top: 200px">Perfekt um eine Suche zu starten ;-)</h1>
      </div>
    </div>
  </div>
</div>
