.row4 {
  margin-top: 90px;
  min-height: 40px;
  z-index: 1;
}

@media (min-width: 500px) {
  .row4 {
    margin-top: 60px;
  }
}

@media (min-width: 1200px) {
  .btn-default {
    display: inline-block;
  }
  .btn-send {
    display: block;
  }
}
