<div class="row4">
  <div class="col-md-2 col-xs-2" style="height: 40px; width: 20%;" (click)="showSonnbergZirbn()" [ngStyle]="{'background-color': '#' + buttonBgColor1}">
    <h6 [ngStyle]="{'color': '#' + fontColor1}">Sonnberg-Zirbn</h6>
  </div>
  <div class="col-md-2 col-xs-2" style="height: 40px; width: 20%;" (click)="showPanorama()" [ngStyle]="{'background-color': '#' + buttonBgColor2}">
    <h6 [ngStyle]="{'color': '#' + fontColor2}">Panorama</h6>
  </div>
  <div class="col-md-2 col-xs-2" style="height: 40px; width: 20%;" (click)="showRestaurant()" [ngStyle]="{'background-color': '#' + buttonBgColor3}">
    <h6 [ngStyle]="{'color': '#' + fontColor3}">Restaurant</h6>
  </div>
  <div class="col-md-2 col-xs-2" style="height: 40px; width: 20%;" (click)="showWintergarten()" [ngStyle]="{'background-color': '#' + buttonBgColor4}">
    <h6 [ngStyle]="{'color': '#' + fontColor4}">Wintergarten</h6>
  </div>
  <div class="col-md-2 col-xs-2" style="height: 40px; width: 20%;" (click)="showAlle()" [ngStyle]="{'background-color': '#' + buttonBgColor5}">
    <h6 [ngStyle]="{'color': '#' + fontColor5}">Alle</h6>
  </div>
</div>
