<div id="printSectionId3" class="section3">
  <table style="border: solid 1px black; border-collapse: collapse;">
    <tr>
      {{dateGeneratedListe}}
    </tr>
    <tr style="border: solid 1px black;">
      <th style="border: solid 1px black; border-collapse: collapse;">Zimmernummer</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Name</th>
      <th style="border: solid 1px black; border-collapse: collapse;">PAX</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Nation</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Anreise</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Abreise</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Tisch</th>
    </tr>
    <div *ngFor="let table of tables">
      <tr style="border: solid 1px black;">
        <div *ngIf="table.nameValue">
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.roomNumberValue}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.nameValue}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.numberOfPersonsValue}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.nationValue}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.arrivalValue}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.departureValue}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.number}}</td>
        </div>
      </tr>
    </div>
  </table>
</div>
<div id="printSectionId1" class="section3">
 <div *ngIf="showTerasseBool">
    <table style="border: solid 1px black; border-collapse: collapse;">
      <tr>
        {{dateGeneratedListe}}
      </tr>
      <tr>
        Terasse
      </tr>
      <tr style="border: solid 1px black;">
        <th style="border: solid 1px black; border-collapse: collapse;">Zimmernummer</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Name</th>
        <th style="border: solid 1px black; border-collapse: collapse;">PAX</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Nation</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Anreise</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Abreise</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Tisch</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Sonderinformationen</th>
      </tr>
      <div *ngFor="let table of tablesTerasse">
        <div *ngFor="let group of table.groups">
          <tr style="border: solid 1px black;">
            <div *ngIf="group.nameValue">
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.roomNumberValue}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.nameValue}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.numberOfPersonsValue}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.nationValue}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.arrivalValue}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.departureValue}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{table.number}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
            </div>
            <div *ngIf="group.newTraceText">
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.newTraceRoomNumber}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.newTraceName}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.newTraceTableNumber}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.newTraceText}} {{group.newTraceDate}} {{table.newTraceEmployee}}</td>
            </div>
          </tr>
        </div>
      </div>
    </table>
  </div>
  <div *ngIf="showWeinstubeBool">
  <table style="border: solid 1px black; border-collapse: collapse;">
    <tr>
      {{dateGeneratedListe}}
    </tr>
    <tr>
      Weinstube
    </tr>
    <tr style="border: solid 1px black;">
      <th style="border: solid 1px black; border-collapse: collapse;">Zimmernummer</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Name</th>
      <th style="border: solid 1px black; border-collapse: collapse;">PAX</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Nation</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Anreise</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Abreise</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Tisch</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Sonderinformationen</th>
    </tr>
    <div *ngFor="let table of tablesWeinstube">
      <div *ngFor="let group of table.groups">
        <tr style="border: solid 1px black;">
          <div *ngIf="group.nameValue">
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.roomNumberValue}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.nameValue}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.numberOfPersonsValue}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.nationValue}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.arrivalValue}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.departureValue}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;">{{table.number}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;"></td>
          </div>
          <div *ngIf="group.newTraceText">
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.newTraceRoomNumber}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.newTraceName}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;"></td>
            <td style="border: solid 1px black; border-collapse: collapse;"></td>
            <td style="border: solid 1px black; border-collapse: collapse;"></td>
            <td style="border: solid 1px black; border-collapse: collapse;"></td>
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.newTraceTableNumber}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.newTraceText}} {{group.newTraceDate}} {{table.newTraceEmployee}}</td>
          </div>
        </tr>
      </div>
    </div>
    </table>
  </div>
  <div *ngIf="showBarBool">
  <table style="border: solid 1px black; border-collapse: collapse;">
    <tr>
      {{dateGeneratedListe}}
    </tr>
    <tr>
      Bar
    </tr>
    <tr style="border: solid 1px black;">
      <th style="border: solid 1px black; border-collapse: collapse;">Zimmernummer</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Name</th>
      <th style="border: solid 1px black; border-collapse: collapse;">PAX</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Nation</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Anreise</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Abreise</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Tisch</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Sonderinformationen</th>
    </tr>
    <div *ngFor="let table of tablesBar">
      <div *ngFor="let group of table.groups">
        <tr style="border: solid 1px black;">
          <div *ngIf="group.nameValue">
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.roomNumberValue}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.nameValue}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.numberOfPersonsValue}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.nationValue}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.arrivalValue}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.departureValue}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;">{{table.number}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;"></td>
          </div>
          <div *ngIf="group.newTraceText">
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.newTraceRoomNumber}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.newTraceName}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;"></td>
            <td style="border: solid 1px black; border-collapse: collapse;"></td>
            <td style="border: solid 1px black; border-collapse: collapse;"></td>
            <td style="border: solid 1px black; border-collapse: collapse;"></td>
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.newTraceTableNumber}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.newTraceText}} {{group.newTraceDate}} {{table.newTraceEmployee}}</td>
          </div>
        </tr>
      </div>
    </div>
    </table>
  </div>
  <div *ngIf="showSpeisesaalBool">
  <table style="border: solid 1px black; border-collapse: collapse;">
    <tr>
      {{dateGeneratedListe}}
    </tr>
    <tr>
      Speisesaal
    </tr>
    <tr style="border: solid 1px black;">
      <th style="border: solid 1px black; border-collapse: collapse;">Zimmernummer</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Name</th>
      <th style="border: solid 1px black; border-collapse: collapse;">PAX</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Nation</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Anreise</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Abreise</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Tisch</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Sonderinformationen</th>
    </tr>
    <div *ngFor="let table of tablesSpeisesaal">
      <div *ngFor="let group of table.groups">
        <tr style="border: solid 1px black;">
          <div *ngIf="group.nameValue">
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.roomNumberValue}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.nameValue}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.numberOfPersonsValue}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.nationValue}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.arrivalValue}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.departureValue}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;">{{table.number}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;"></td>
          </div>
          <div *ngIf="group.newTraceText">
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.newTraceRoomNumber}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.newTraceName}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;"></td>
            <td style="border: solid 1px black; border-collapse: collapse;"></td>
            <td style="border: solid 1px black; border-collapse: collapse;"></td>
            <td style="border: solid 1px black; border-collapse: collapse;"></td>
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.newTraceTableNumber}}</td>
            <td style="border: solid 1px black; border-collapse: collapse;">{{group.newTraceText}} {{group.newTraceDate}} {{table.newTraceEmployee}}</td>
          </div>
        </tr>
      </div>
    </div>
    </table>
  </div>
</div>
<div id="printSectionId2" class="section2">
  <div class="row" style=" border-left: 5px solid #0a7a74; border-right: 5px solid #0a7a74;">
    <div *ngIf="showTerasseBool">
      <div *ngFor="let tableTerasse of tablesTerasse; let j = index;">
        <div dropdownToggle type="button" class="t{{tableTerasse.number}} table-item" [ngStyle]="{'top': tableTerasse.topValue + 'px', 'left': tableTerasse.leftValue + 'px', 'background-color': + tableTerasse.bgColor, 'height': + tableTerasse.height + 'px', 'width': + tableTerasse.width + 'px', 'border': + tableTerasse.border}" dropdown>
          <div *ngIf="tablesTerasse[j] !== tablesTerasse[j+1]">
            <p><b>{{tableTerasse.number}} <br>{{adult1Terasse[j]}}/{{adult2Terasse[j]}}/{{child1Terasse[j]}}/{{child2Terasse[j]}}/{{child3Terasse[j]}}/{{child4Terasse[j]}}</b></p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showWeinstubeBool">
      <div *ngFor="let tableWeinstube of tablesWeinstube; let j = index;">
        <div dropdownToggle type="button" class="t{{tableWeinstube.number}} table-item" [ngStyle]="{'top': tableWeinstube.topValue + 'px', 'left': tableWeinstube.leftValue + 'px', 'background-color': + tableWeinstube.bgColor, 'height': + tableWeinstube.height + 'px', 'width': + tableWeinstube.width + 'px', 'border': + tableWeinstube.border}" dropdown>
          <div *ngIf="tablesWeinstube[j] !== tablesWeinstube[j+1]">
            <p><b>{{tableWeinstube.number}} <br>{{adult1Weinstube[j]}}/{{adult2Weinstube[j]}}/{{child1Weinstube[j]}}/{{child2Weinstube[j]}}/{{child3Weinstube[j]}}/{{child4Weinstube[j]}}</b></p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showBarBool">
      <div *ngFor="let tableBar of tablesBar; let j = index;">
        <div dropdownToggle type="button" class="t{{tableBar.number}} table-item" [ngStyle]="{'top': tableBar.topValue + 'px', 'left': tableBar.leftValue + 'px', 'background-color': + tableBar.bgColor, 'height': + tableBar.height + 'px', 'width': + tableBar.width + 'px', 'border': + tableBar.border}"  dropdown>
          <div *ngIf="tablesBar[j] !== tablesBar[j+1]">
            <p><b>{{tableBar.number}}  <br>{{adult1Bar[j]}}/{{adult2Bar[j]}}/{{child1Bar[j]}}/{{child2Bar[j]}}/{{child3Bar[j]}}/{{child4Bar[j]}}</b></p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showSpeisesaalBool">
      <div *ngFor="let tableSpeisesaal of tablesSpeisesaal; let j = index;">
        <div dropdownToggle type="button" class="t{{tableSpeisesaal.number}} table-item" [ngStyle]="{'top': tableSpeisesaal.topValue + 'px', 'left': tableSpeisesaal.leftValue + 'px', 'background-color': + tableSpeisesaal.bgColor, 'height': + tableSpeisesaal.height + 'px', 'width': + tableSpeisesaal.width + 'px', 'border': + tableSpeisesaal.border}"  dropdown>
          <div *ngIf="tablesSpeisesaal[j] !== tablesSpeisesaal[j+1]">
            <p><b>{{tableSpeisesaal.number}}  <br>{{adult1Speisesaal[j]}}/{{adult2Speisesaal[j]}}/{{child1Speisesaal[j]}}/{{child2Speisesaal[j]}}/{{child3Speisesaal[j]}}/{{child4Speisesaal[j]}}</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


