.navbar-fixed-top {
  max-width: 100%;
  background-color: #0d2f2e;
  border-radius: 0px;
  max-height: 120px;
  display: block;
}

.container {
  max-height: 120px;
  display: block;
  padding: 0;
  margin: 0
}

ul.navbar-nav {
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  max-height:  40px;
}

.navbar-logout {
  float: right;
}

.brand {
  display: inline-block;
  vertical-align: middle;
  max-width: 30%;
}

.Table {
  color: #0a7a74;
  float: right;
  margin-right: 10px;
}

.TableDiv{
  background-color: #0a7a74;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  margin-top: 12px;
  margin-left: 48px;
  max-width: 50px;
}

.TableH3 {
  color: #eaf3f3;
  margin: 0;
  line-height: 29px;
  font-size: 20px;
  align-content: center;
  align: center;
}

.dropdown-toggle {
  background-color: #0a7a74;
  color: #FFFFFF;
}

.dropdown-menu {
  overflow: auto;
  height: 350px;
  width: 200px;
  padding: 20px;
}

.xls {
  width: 100%;
  height: 100px;
}

.file {
  float: left;
  margin-top: 10px;
  color: #0a7a74;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: none;
}

.navbar-form {
  margin: 11px 0 0 0;
  box-shadow: none;
  padding: 0;
}

.btn-send {
  background-color: #0a7a74;
  float: right;
  color: white;
  margin-right: 10px;
  display: none;
}

h6 {
  color: #0a7a74;
}

.navbar-right{

}

.btn-default {
  background-color: #0a7a74;
  color: #FFFFFF;
  float: left;
  vertical-align: middle;
  margin: 10px 10px 5px 10px;
  border: none;
  display: none;
}

.btn-default:hover {
  background-color: #1f5452;
  color: #FFFFFF;
}

.btn-primary {
  background-color: #0a7a74;
  color: #FFFFFF;
  margin-left: 20px;
  border: none;
}

.btn-primary:hover {
  background-color: #1f5452;
  color: #FFFFFF;
  margin-left: 20px;
  border: none;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
  background-color: #1f5452;
  color: #FFFFFF;
}

.btn-primary.focus, .btn-primary:focus {
  background-color: #0a7a74;
  color: #FFFFFF;
}

.btn-group {
  height: 45px;
  width: auto;
  margin: 10px 10px 5px 10px;
  float: left;
  text-align: right;
  display:none;
  vertical-align:middle;
}

.menuitem {
  padding: 5px;
}

.navbar-left {
  max-width: 100%;
  display: -webkit-inline-box;
  border: none;
}

.form-group {
  max-height: 45px;
  margin: 0 5px 0 0;
}

.form-group-search {
  float: left;
  width: calc(100% - 52px);
}

.form-control {
  background-color: #0a7a74;
  color: #FFFFFF;
  border: none;
  height: 32px;
  opacity: 80;
  margin: 0px 0px 0px 0px;
}

.search-btn-default {
  background-color: #0a7a74;
  color: #FFFFFF;
  border: none;
  float: right;
  margin-right: 10px;
  min-width: 30px;
  height: 32px;
}

.Partner {
  height: 45px;
  width: auto;
  margin-top: 4px;
  margin-bottom: 5px;
  margin-right: 25px;
  float: right;
  text-align: right;
  display:none;
  vertical-align:middle;
}

.xls {
  margin-bottom: 30px;
}

@media (max-width: 500px) {

  .navbar-left {
    display: block;
  }
}

@media (min-width: 766px ) and  (max-width: 774px) {
  .navbar-right {
    margin-top: -23px;
  }

  .search-btn-default {
    margin-top: 0px;
    margin-left: 40px;
    min-width: 30px;
    min-height: 30px;
  }
}

@media (min-width: 500px ) and  (max-width: 774px) {
  .navbar-fixed-top {
    display: block;
    max-height: 56px;
  }
  .container {
    display: flex;
    width: auto;
    max-height: 55px;
  }
  .navbar-nav {
    margin-top: 0;

    display: inline-flex;
    max-height: 50px;
  }
  .navbar-right{
    display: inline-flex;
    max-width: 79%;
    margin-right: 10px;

  }
  .navbar-left{
    display: inline-flex;
  }
  .form-group {
    display: inline-flex;
  }
  .form-control{

  }
  .search-btn-default {
    margin-top: 0px;
  }
}

@media (min-width: 775px) {
  .Partner {
    display: none;
    max-width: 100%;
    float: right;
  }

  .form-group {
    display: block;
  }

  .form-group-search {
    float: none;
    width: auto;
  }

  .navbar-left {
    float: right;
  }

  .navbar-right {
    max-width: 100%;
    margin-right: 10px;
  }

  .container {
    display: block;
    width: auto;
  }

  .navbar-fixed-top {
    max-height: 45px;
    display: block;
  }

  .btn-group {
    display:none;
  }

  .brand {
    max-width: 100%;
  }

  .partnerLi {
    float: right;
  }

  .navbar-left {
    display: block;
    margin-top: 11px;
  }

  .search-btn-default {
    float: right;
    margin-right: 20px;
    margin-top: 0px;
  }

  .Table {
    margin-right: 0px;
  }

  .TableDiv{
    margin-left: 35px;
  }
  .navbar-nav {

  }

}


@media (min-width: 1250px) {
  .btn-default {
    display: block;
  }

  .btn-send {
    display: block;
  }

  .print-col {
    width: 32%
  }

  .search-btn-default {
    display: block;
  }

  .btn-group {
    display: block;
  }

  .navbar-nav {
    display: block;

  }

  .container {
    display: block;
    width: 100%;
  }

  .navbar-right {
    max-width: 65%;
    min-width: 50%;
  }
  .form-group {
    margin: 0;
    width: 70%;
    max-height: 100%;
    margin: 0 2px 20px 10px;
  }

  .form-control {
    background-color: #0a7a74;
    color: #FFFFFF;
    border: none;
    opacity: 80;
    width: 135px;
    margin: 0px 0px 0px 0px;
  }

  .TableDiv{
    margin-left: 0px;
  }
}


@media (min-width: 1650px) {
  .Partner {
    display: inline-block;
    max-width: 100%;
    float: right;
  }
}

