<div *ngIf="showTerasseBool">
  <div *ngFor="let tableTerasse of tablesTerasse; let j = index;">
    <div *ngIf="tablesTerasse[j] !== tablesTerasse[j+1]">
      <button style="float: right; margin: 20px 0px 20px 0px; background-color: #0a7a74; color: #FFFFFF"  type="button" class="btn btn-send" (click)="occupy(tableTerasse, j)">{{tableTerasse.isOccupied === 'true' ? 'FREI MACHEN' : ''}}</button>
      <h4><b> Tisch:</b>{{tableTerasse.number}} </h4><br>
      <div class='cards-container' id='containerTerasse' [ngStyle]="{'background-color': + tableTerasse.bgColor}">
        <div class="table" [ngStyle]="{'background-color': '#' + tableTerasse.bgColor}">
          <div *ngIf="tableTerasse.isOccupied === 'true'">
            <div *ngFor="let group of tableTerasse.groups; let j = index;">
                <div *ngIf="group.nameValue">
                  <p style="background-color: #FFFFFF; padding: 10px">
                    <b> Zimmernummer:</b> {{group.roomNumberValue}}<br>
                    <b> Name:</b> {{group.nameValue}}<br>
                    <b> Anreise Datum:</b> {{group.arrivalValue}}<br>
                    <b> Abreise Datum:</b> {{group.departureValue}}<br>
                    <b> HP/F:</b> {{group.priceValue}}<br>
                    <b> Personenanzahl:</b> {{group.numberOfPersonsValue}}<br>
                    <b> Nation:</b> {{group.nationValue}}<br>
                  </p>
                </div>
              <div *ngIf="group.newTraceName">
                <p style="background-color: #FFFFFF; border: solid 3px red">
                  <b> Zimmernummer: </b>{{group.newTraceRoomNumber}}<br> <b> Neuer Trace: </b>{{group.newTraceText}} <br> <b> Tischnummer: </b>{{group.newTraceTableNumber}} <br> <b> Mitarbeiter: </b>{{group.newTraceEmployee}} <br> <b> Name: </b>{{group.newTraceName}} <br> <b> Datum: </b>{{group.newTraceDate}}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="tableTerasse.placeholder === 'true'">
          <p [dragula]='"evented-bag"' id="Terasse" style="background-color: #9d9d9d; border: dashed 3px black; margin-top: 50px; opacity: 0.4; padding: 10px 10px 10px 10px;">Listen-Element hier hin ziehen! {{tableTerasse.number}} {{tableTerasse.department}} {{j}} </p>
        </div>
      </div>
    </div>
  </div>
</div>
