<router-outlet></router-outlet>
<html>
<head>
  <title>Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="node_modules/core-js/client/shim.min.js"></script>
  <script src="<your-libs-directory>/object-assign.min.js"></script>
  <script src="node_modules/angular2/es6/dev/src/testing/shims_for_IE.js"></script>
</head>
<div id="charge-error" class="alert alert-danger <% if ( !errMsg ) { %> hidden <% } %>"><%= errMsg  %></div>
<body>
<app-navigation  [newInformationElements]="newInformationElements"
                 [tablesOccupied]="tablesOccupied"
                 [tablesTempDeparture]="tablesTempDeparture"
                 (getTablesOccupied)="tablesOccupied = $event"
                 (reseatExport)="reseatInfoVar = $event; reseat($event)"
                 (departureExportExport)="departureTablePlusIndex = $event; departureRemoval($event)"
                 (transformExport)="term = $event; transform($event)"
                 (termExport)="term = $event"
                 (reloadLists)="reloadLists($event)"
                 [newInformationEmployees]="newInformationEmployees"
                 (getTablesExport)="getTables($event)">
</app-navigation>
  <div class="row">
    <div class="container-fluid">
      <flash-messages></flash-messages>
      <div class="col-xs-12 col-sm-8 col-lg-6 print-col">
        <app-departmentmenu
          [buttonBgColor1]="buttonBgColor1"
          [buttonBgColor2]="buttonBgColor2"
          [buttonBgColor3]="buttonBgColor3"
          [buttonBgColor4]="buttonBgColor4"
          [buttonBgColor5]="buttonBgColor5"
          [fontColor1]="fontColor1"
          [fontColor2]="fontColor2"
          [fontColor3]="fontColor3"
          [fontColor4]="fontColor4"
          [fontColor5]="fontColor5"
          [showWeinstubeBool]="showWeinstubeBool"
          [showBarBool]="showBarBool"
          [showTerasseBool]="showTerasseBool"
          [showSpeisesaalBool]="showSpeisesaalBool"
          [showAllBool]="showAllBool"
          (showTerasseBoolChange)="showTerasseBool=$event"
          (showWeinstubeBoolChange)="showWeinstubeBool=$event"
          (showBarBoolChange)="showBarBool=$event"
          (showSpeisesaalBoolChange)="showSpeisesaalBool=$event"
          (showAllBoolChange)="showAllBool=$event"
          [buttonBgColorInfoForm]="buttonBgColorInfoForm"
          [buttonBgColorNoteForm]="buttonBgColorNoteForm"
          [fontColorInfoForm]="fontColorInfoForm"
          [fontColorNoteForm]="fontColorNoteForm"
          [showNoteFormBool]="showNoteFormBool"
          [showInfoFormBool]="showInfoFormBool"
          (showInfoFormBoolChange)="showInfoFormBool=$event"
          (showNoteFormBoolChange)="showNoteFormBool=$event"
          (showTablePlanBoolChange)="showTablePlanBool=$event"
          [showTablePlanBool]="showTablePlanBool"
          [buttonBgColorShowTablePlan]="buttonBgColorShowTablePlan"
          [fontColorShowTablePlan]="fontColorShowTablePlan">
        </app-departmentmenu><flash-messages></flash-messages>
        <app-form [newInformationElements]="newInformationElements"
                  [dateGenerated]="dateGenerated"
                  [title]="title"
                  [roomNumber]="roomNumber"
                  [tableNumber]="tableNumber"
                  [employee]="employee"
                  [nameTraceInput]="nameTraceInput"
                  [tablesWeinstube]="tablesWeinstube"
                  [tablesBar]="tablesBar"
                  [tablesTerasse]="tablesTerasse"
                  [tablesSpeisesaal]="tablesSpeisesaal"
                  [showNoteFormBool]="showNoteFormBool"
                  [showInfoFormBool]="showInfoFormBool"
                  [noteElements]="noteElements"
                  [showWeinstubeBool]="showWeinstubeBool"
                  [showBarBool]="showBarBool"
                  [showTerasseBool]="showTerasseBool"
                  [showSpeisesaalBool]="showSpeisesaalBool"
                  [showAllBool]="showAllBool"
                  (noteResponse)="noteElements=$event"
                  (changeColorIfArrivalExport)="changeBgColorIfArrival($event)">
        </app-form>
        <app-tableplan [tablesSpeisesaal]="tablesSpeisesaal"
                       [showSpeisesaalBool]="showSpeisesaalBool"
                       [tablesTerasse]="tablesTerasse"
                       [showTerasseBool]="showTerasseBool"
                       [tablesWeinstube]="tablesWeinstube"
                       [showWeinstubeBool]="showWeinstubeBool"
                       [tablesBar]="tablesBar"
                       [showBarBool]="showBarBool"
                       (movedTerasse)="tablesTerasse = $event"
                       (movedBar)="tablesBar = $event"
                       (movedWeinstube)="tablesWeinstube = $event"
                       (movedSpeisesaal)="tablesSpeisesaal = $event"
                       [showAllBool]="showAllBool"
                       [showTablePlanBool]="showTablePlanBool"
                       (changeBgColorIfArrival)="changeBgColorIfArrival($event)"
                       (adult1WeinstubeExport)="adult1Weinstube=$event"
                       (adult1BarExport)="adult1Bar=$event"
                       (adult1TerasseExport)="adult1Terasse=$event"
                       (adult1SpeisesaalExport)="adult1Speisesaal=$event"
                       (child1WeinstubeExport)="child1Weinstube=$event"
                       (child2WeinstubeExport)="child2Weinstube=$event"
                       (child3WeinstubeExport)="child3Weinstube=$event"
                       (child4WeinstubeExport)="child4Weinstube=$event"
                       (child1BarExport)="child1Bar=$event"
                       (child2BarExport)="child2Bar=$event"
                       (child3BarExport)="child3Bar=$event"
                       (child4BarExport)="child4Bar=$event"
                       (child1TerasseExport)="child1Terasse=$event"
                       (child2TerasseExport)="child2Terasse=$event"
                       (child3TerasseExport)="child3Terasse=$event"
                       (child4TerasseExport)="child4Terasse=$event"
                       (child1SpeisesaalExport)="child1Speisesaal=$event"
                       (child2SpeisesaalExport)="child2Speisesaal=$event"
                       (child3SpeisesaalExport)="child3Speisesaal=$event"
                       (child4SpeisesaalExport)="child4Speisesaal=$event">
        </app-tableplan>
      </div>
      <div class="col-xs-12 col-lg-3 upload-col">
        <div class="outer-cards">
          <app-im-haus-list [imHausListElemente]="imHausListElemente"></app-im-haus-list>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-3 table-col">
        <h3 >Tisch Übersicht</h3>
        <div class="inner-table" style="padding: 0px 0px 0px 0px;">
          <div class="row3">
            <div class='wrapper' id="wrapper">
              <app-departments [tablesSpeisesaal]="tablesSpeisesaal"
                               [showSpeisesaalBool]="showSpeisesaalBool"
                               [tablesTerasse]="tablesTerasse"
                               [showTerasseBool]="showTerasseBool"
                               [tablesWeinstube]="tablesWeinstube"
                               [showWeinstubeBool]="showWeinstubeBool"
                               [tablesBar]="tablesBar"
                               [showBarBool]="showBarBool"
                               (dispensedTerasse)="tablesTerasse=$event"
                               (dispensedBar)="tablesBar=$event"
                               (dispensedWeinstube)="tablesWeinstube=$event"
                               (dispensedSpeisesaal)="tablesSpeisesaal=$event"
                               [term]="term"
                               [showAllBool]="showAllBool"
                               (updateAzList)="updateAzList($event)"
                               [tablesTempDeparture]="tablesTempDeparture"
                               [tables]="tables"
                               (updateImHausListElement)="updateImHausListElement($event); table = $event;">
              </app-departments>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<app-print  [tables]="tables"
            [dateGeneratedListe]="dateGeneratedListe"
            [tablesWeinstube]="tablesWeinstube"
            [showWeinstubeBool]="showWeinstubeBool"
            [showBarBool]="showBarBool"
            [tablesBar]="tablesBar"
            [showTerasseBool]="showTerasseBool"
            [tablesTerasse]="tablesTerasse"
            [showSpeisesaalBool]="showSpeisesaalBool"
            [tablesSpeisesaal]="tablesSpeisesaal"
            (getTablesOccupied)="tablesOccupied = $event"
            (getTablesforAzListe)="tables = $event"
            [adult1Weinstube]="adult1Weinstube"
            [adult1Bar]="adult1Bar"
            [adult1Terasse]="adult1Terasse"
            [adult1Speisesaal]="adult1Speisesaal"
            [child1Weinstube]="child1Weinstube"
            [child2Weinstube]="child2Weinstube"
            [child3Weinstube]="child3Weinstube"
            [child4Weinstube]="child4Weinstube"
            [child1Bar]="child1Bar"
            [child2Bar]="child2Bar"
            [child3Bar]="child3Bar"
            [child4Bar]="child4Bar"
            [child1Terasse]="child1Terasse"
            [child2Terasse]="child2Terasse"
            [child3Terasse]="child3Terasse"
            [child4Terasse]="child4Terasse"
            [child1Speisesaal]="child1Speisesaal"
            [child2Speisesaal]="child2Speisesaal"
            [child3Speisesaal]="child3Speisesaal"
            [child4Speisesaal]="child4Speisesaal">
</app-print>
</html>
