<app-terasse [term]="term" [tablesTerasse]="tablesTerasse" [showTerasseBool]="showTerasseBool" (occupied)="occupied($event)"></app-terasse>
<app-bar [term]="term" [tablesBar]="tablesBar" [showBarBool]="showBarBool"  (occupied)="occupied($event)"></app-bar>
<app-weinstube [term]="term" [tablesWeinstube]="tablesWeinstube" [showWeinstubeBool]="showWeinstubeBool"  (occupied)="occupied($event)"></app-weinstube>
<app-speisesaal [term]="term" [tablesSpeisesaal]="tablesSpeisesaal" [showSpeisesaalBool]="showSpeisesaalBool"  (occupied)="occupied($event)"></app-speisesaal>
<app-all [term]="term" [tables]="tables" [tablesTempDeparture]="tablesTempDeparture" [showAllBool]="showAllBool" (occupied)="occupied($event)"></app-all>
