<form class="SendInformation"  #myForm="ngForm" (submit)="sendInformation($event); myForm.reset() ">
  <div class="form-row">
    <div class="form-group">
      <div class="col-lg-6">
        <input  class="form-control" style="margin-top: 20px" id="name" [(ngModel)]="nameTraceInput" name="Name" placeholder="Name">
        <input  class="form-control" style="margin-top: 20px" id="roomNumber" [(ngModel)]="roomNumber" name="roomNumber" placeholder="Zimmer Nummer">
      </div>
      <div class="col-lg-6">
        <input  class="form-control" style="margin-top: 20px" id="tableNumber" [(ngModel)]="tableNumber" name="tableNumber" placeholder="Tisch Nummer">
        <input  class="form-control" style="margin-top: 20px" id="employee" [(ngModel)]="employee" name="employee" placeholder="Mitarbeiter">
      </div>
      <div class="col-lg-12">
              <textarea id="informationText" rows="5" type="text" style="margin-bottom: 10px; margin-top: 20px" [(ngModel)]="title" placeholder="Trace hinzufügen" name="title" class="form-control" required>
              </textarea>
      </div>
    </div>
    <button type="button|submit|reset" style="float: right; margin: 10px 20px 0px 0px; background-color: #0a7a74; color: #FFFFFF" class="btn btn-primary">Hinzufügen</button>
  </div>
</form>
