html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #0a7a74;
}

.row {
  height: 100%;
}

.line{
  width: 100%;
  height: 20px;
  border-bottom: solid 10px #0a7a74;
  position: absolute;
  right: 0px;
  top: 115px;
}

.line1{
  width: 100%;
  height: 20px;
  border-bottom: solid 10px #0a7a74;
  position: absolute;
  right: 0px;
  top: 95px;
}

.printTwo {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #0a7a74;
  min-height: 580px;
}

.row .inner-table {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 70px);
}

.row4 {
  margin-top: 90px;
}

.row .table-col {
  min-height: calc(100vh - 10px);
  max-height: calc(100vh - 10px);
  background-color: #f3efe4;
  padding: 10px 10px 20px 10px;
  box-sizing: border-box;
  border-radius: 3px;
  margin-left: 10px;
  width: calc(100vw - 20px);
}

.row .print-col {
  padding: 0;
  border-left: 5px solid #0a7a74;
  border-right: 5px solid #0a7a74;
  min-height: 100vh;
  border-bottom: 20px solid #0a7a74;
  box-sizing: border-box;
}

.row .upload-col {
  background-color: #f3efe4;
  padding: 10px 10px 20px 10px;
  box-sizing: border-box;
  min-height: calc(100vh - 10px);
  max-height: calc(100vh - 10px);
  border-radius: 3px;
}

.section3 {
  display: none;
}

.row1 {
  height: calc((100vh - 125px) / 3);
  overflow: auto;
}

.row .upload-col, .printToCart2, .dropdown-toggle, .printToCart1, .printToCart3, .Tisch, .anleitung {
  display: none;
}

.cards-container {
  margin: 10px 0px 10px 0px;
  padding: 10px 10px 40px 10px;
}

.row .container-fluid .table-col .inner-table .row3 .wrapper .cards-container {
  border-radius: 3px;
  border: solid 1px grey;
  padding: 10px 10px 15px 10px;
}

.row .container-fluid  .table-col .inner-table .row3 .wrapper .cards-container {
  border-radius: 3px;
  border: solid 1px grey;
}

.row .container-fluid .col-md-4 .row1 {
  overflow: auto;
  margin: 0 0 0 0;
  display: inline-block;
  width: 105%;
  height: 232.5px;
  padding-top: 20px;
}

.row .container-fluid .col-md-4 .row1 .wrapper {
  overflow: auto;
  margin: 0 0 0 0;
  display: inline-block;
  max-width: 100%;
}

.row .container-fluid .col-md-4 .row1 .wrapper .container {
  overflow: auto;
  margin: 20px 40px 20px 0;
  display: inline-block;
  max-width: 100%;
  border-radius: 3px;
}

.row .container-fluid .col-md-4 .col-xs-12 .row1 {
  overflow: auto;
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  height: 800px;
  padding-top: 20px;
}

.row .container-fluid h3 {
  align-content: center;
  margin: 0 auto;
  display: inline-block;
  color: #0a7a74;
  position: relative;
  text-align: center;
}

.row .container-fluid .col-md-4 h3 {
  margin: 0 auto;
  color: #0a7a74;
  position: relative;
}

.row .container-fluid .upload-col .csv h3 {
  margin: 0;
}

.row1 .col {
  flex: 1;
}

.row1 .col:nth-child(1) {
  order: 1;
}
.row1 .col:nth-child(2) {
  order: 0;
}
.row1 .col:nth-child(3) {
  order: 2;
}

.row .col-md-4 .row2 {
  padding-bottom: 10px;
  position: relative;
  min-height: 100%;
  border-bottom: 1px solid red;
}

.card {
  background: rgb(255,255,255); /* Fall-back for browsers that don support rgba */
  background: rgba(255,255,255, 1);
  border-radius: 3px;
  border: solid 1px grey;
  padding: 10px 10px 15px 10px;
}

.row .container-fluid .col-md-4 .row1 .wrapper .container .card p {
  /*padding:10px 10px 10px 10px;*/
  max-width: 100%;
}

.row .container-fluid .col-md-4 .wrapper .container .card p {
  /*padding:10px 10px 10px 10px;*/
  max-width: 100%;
}

.row .container-fluid .col-md-4 .row3 .row1 p {
  /*padding: 10px 10px 10px 10px;*/
  background: rgb(255,255,255); /* Fall-back for browsers that don support rgba */
  background: rgba(255,255,255, 1);
  max-width: 100%;
}

.row .container-fluid .col-md-4 .col-xs-12 .row1 .wrapper .container .card p {
  /*padding: 10px 10px 10px 10px;*/
  max-width: 100%;
}

.row .container-fluid .col-md-6 .row {
  background-color: #eaf3f3;
  padding: 20px 10px 20px 10px;
  height: 100%;
}

.table-item {
  position: absolute;
}

.btn-send {
  display: none;
}

.csv {
  margin-bottom: 30px;
}

.btn-default {
  display: none;
}


@media (min-width: 700px) {
  .row .table-col {
    max-height: calc(100vh - 10px);
    min-height: calc(100vh - 10px);
    background-color: #f3efe4;
    padding: 20px 10px 20px 10px;
    box-sizing: border-box;
    max-width: calc(100vw - 20px);
  }

  .printTwo {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #0a7a74;
    min-height: 580px;
  }

  .row .inner-table {
    max-height: calc(100vh - 70px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .row .upload-col {
    background-color: #f3efe4;
    padding: 20px 10px 20px 10px;
    box-sizing: border-box;
    min-height:  calc(100vh - 10px);
    max-height: calc(100vh - 10px);
  }

  .print-col {
    width: 100vw;
  }
}


@media (min-width: 1200px) {
  .btn-default {
    display: inline-block;
  }

  .btn-send {
    display: block;
  }

  .row4 {
    margin-top: 0px;
  }

  .printTwo {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #0a7a74;
    min-height: calc(100vh);
  }

  .row .table-col {
    max-height: calc(100vh - 10px);
    min-height: calc(100vh - 10px);
    background-color: #f3efe4;
    padding: 20px 10px 20px 10px;
    box-sizing: border-box;
    width: 32%;
    margin-top: 60px;
  }

  .row .upload-col, .printToCart2, .dropdown-toggle, .printToCart1, .printToCart3, .Tisch, .anleitung {
    display: block;
  }

  .print-col {
    width: 33%;
    margin-top: 70px;
  }

  .row .upload-col {
    background-color: #f3efe4;
    padding: 20px 10px 20px 10px;
    box-sizing: border-box;
    min-height: calc(100vh - 10px);
    max-height: calc(100vh - 10px);
    margin-top: 60px;
  }

  .row .inner-table {
    max-height: calc(100vh - 70px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}


