html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #0a7a74;
}

.row {
  height: 100%;
}
.line{
  width: 100%;
  height: 20px;
  border-bottom: solid 10px #0a7a74;
  position: absolute;
  right: 0px;
  top: 150px;
}

.row .print-col, .row .upload-col, .row .table-col {
  background-color: #f3efe4;
  padding: 20px 10px 20px 10px;
  border-left: 5px solid #0a7a74;
  border-right: 5px solid #0a7a74;
  min-height: 100vh;
  border-bottom: 20px solid #0a7a74;
  box-sizing: border-box;
}

.row .upload-col {
  display: none;
}

@media (min-width: 1200px) {
  .row .upload-col {
    display: block;
  }
}

.row1 {
  height: calc((100vh - 244px) / 3);
  overflow: auto;
}

.inner-table {
  height: calc(100vh - 44px);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.cards-container {
  margin: 10px 0px 10px 0px;
  padding: 10px;
}

.cards-container .card {
  padding: 10px;
}

.row .container-fluid .col-md-4 .row1 {
  overflow: auto;
  margin: 0 0 0 0;
  display: inline-block;
  width: 105%;
  height: 232.5px;
  padding-top: 20px;
}

.row .container-fluid .col-md-4 .row1 .wrapper {
  overflow: auto;
  margin: 0 0 0 0;
  display: inline-block;
  max-width: 100%;
}

.row .container-fluid .col-md-4 .row1 .wrapper .container {
  overflow: auto;
  margin: 20px 40px 20px 0;
  display: inline-block;
  max-width: 100%;
  border-radius: 3px;
}

.row .container-fluid .col-md-4 .col-xs-12 .row1 {
  overflow: auto;
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  height: 800px;
  padding-top: 20px;
}


.row .container-fluid h3 {
  align-content: center;
  margin: 0 auto;
  display: inline-block;
  color: #0a7a74;
  position: relative;
  text-align: center;
}

.row .container-fluid .col-md-4 h3 {
  margin: 0 auto;
  color: #0a7a74;
  position: relative;
}

.row1 .col {
  flex: 1;
}

.row1 .col:nth-child(1) {
  order: 1;
}
.row1 .col:nth-child(2) {
  order: 0;
}
.row1 .col:nth-child(3) {
  order: 2;
}

.row .col-md-4 .row2 {
  padding-bottom: 10px;
  position: relative;
  min-height: 100%;
  border-bottom: 1px solid red;
}

.card {
  background: rgb(255,255,255); /* Fall-back for browsers that don support rgba */
  background: rgba(255,255,255, 1);
}

.row .container-fluid .col-md-4 .row1 .wrapper .container .card p {
  /*padding:10px 10px 10px 10px;*/
  max-width: 100%;
}

.row .container-fluid .col-md-4 .wrapper .container .card p {
  /*padding:10px 10px 10px 10px;*/
  max-width: 100%;
}

.row .container-fluid .col-md-4 .row3 .row1 p {
  /*padding: 10px 10px 10px 10px;*/
  background: rgb(255,255,255); /* Fall-back for browsers that don support rgba */
  background: rgba(255,255,255, 1);
  max-width: 100%;
}

.row .container-fluid .col-md-4 .col-xs-12 .row1 .wrapper .container .card p {
  /*padding: 10px 10px 10px 10px;*/
  max-width: 100%;
}


.row .container-fluid .col-md-6 .row {
  background-color: #eaf3f3;
  padding: 20px 10px 20px 10px;
  height: 100%;
}

.row .container-fluid .table-col .row1 {
  height: auto;
}



.printTwo {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  min-height: 550px;
}

.row .container-fluid .table-col .printTwo .table-item {
  position: absolute;
}
